/** Styles for main with a sidebar (most pages) **/
main.main-sidebar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
}

/** Sidebar **/
.sidebar {
	width: 30%;
	padding: 1em 1em 0 0;
}

.sidebar-block {
	border: 1px dashed var(--red);
	padding: 0.5em;
}

/** Main content **/
.main-content {
    width: 70%;
}

@media(max-width: 60em) {
    .sidebar,
    .main-content {
        width: 100%;
    }
}

