/** Styles common to main, whether it has a sidebar or not **/
.main-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: var(--grey);
}

main {
    width: 100%;
	max-width: var(--max-width);
	padding: var(--main-gutter-y) var(--main-gutter-x);
    background-color: var(--background-color);
}

main :first-child {
	margin-top: 0;
}

main a {
    color: var(--text-color-link);
}

main a:is(:hover,:focus) {
    background-color: var(--text-color-link-hover-background);
    color: var(--text-color-link-hover);
}
main a[href]:active {
	color: var(--text-color-link-active);
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

/** Styles for main with a sidebar (most pages) **/
main.main-sidebar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
}

/** Sidebar **/
.sidebar {
	width: 30%;
	padding: 1em 1em 0 0;
}

.sidebar-block {
	border: 1px dashed var(--red);
	padding: 0.5em;
}

/** Main content **/
.main-content {
    width: 70%;
}

@media(max-width: 60em) {
    .sidebar,
    .main-content {
        width: 100%;
    }
}