/* Variables and general site-wide styles */
:root {
    --white: #ffffff;
    --blue: #1b2c58;
    --red: #663333;
    --black: #000000;
    --grey: #d1d9e2;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url('/Atkinson-Hyperlegible-Regular-102.ttf');
}

body {
    font-family: "Atkinson Hyperlegible", sans-serif;
}