footer {
    width: 100%;
    padding: var(--main-gutter-y) var(--main-gutter-x);
    background-color: var(--red);
    font-size: 0.7em;
}

footer p {
    text-align: center;
    color: var(--white);
}

footer p a {
    color: var(--white);
}

footer p a:is(:hover,:focus) {
    background-color: var(--white);
    color: var(--blue);
}
