header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5em 3em;
    padding: 0 var(--main-gutter-x);
    background-color: var(--red);
    color: var(--white);
}

header .top-nav {
    width: 100%;
}

header .top-nav .top-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header .top-nav .top-nav-list .nav-item a {
    color: var(--white);
}