header {
    width: 100%;
    background-color: var(--red);
    color: var(--white);
    padding: 0 1em;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 3em;
    padding: 0 var(--main-gutter-x);
}

.header-container .header-title-link {
    color: var(--white);
}

.header-container .header-title-link:is(:hover,:focus) {
    background-color: var(--white);
    color: var(--blue);
}

header .top-nav {
    width: var(--max-width);
}

header .top-nav .top-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5em 1em;
    margin: 0;
    padding: 0 0 1em 0;
    list-style-type: none;
}

header .top-nav .top-nav-list .nav-item a {
    padding: 0.5em;
    color: var(--white);
}

header .top-nav .top-nav-list .nav-item a[aria-current="page"] {
    color: var(--grey);
    text-decoration: none;
}

header .top-nav .top-nav-list .nav-item a:not([aria-current="page"]):is(:focus,:hover) {
    background-color: var(--white);
    color: var(--red);
}
