body {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-color);
    color: var(--text-color);
}

.main-content {
    position: absolute;
    top: 0;
    left: var(--nav-width);
    width: calc(100% - var(--nav-width));
    height: 100%;
}

main {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

.page-content,
footer {
    padding: var(--main-gutter-y) var(--main-gutter-x);
}

footer {
    position: absolute;
    bottom: 0;
    background-color: var(--red);
    font-size: 0.7em;
}