.main-content {
    position: absolute;
    top: 0;
    left: var(--nav-width);
    width: calc(100% - var(--nav-width));
    height: 100%;
}

main {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

.page-content,
footer {
    padding: var(--main-gutter-y) var(--main-gutter-x);
}