main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
	width: 100%;
	max-width: var(--max-width);
	padding: var(--main-gutter-y) var(--main-gutter-x);
    background-color: var(--background-color);
}

/** Sidebar **/
.sidebar {
	width: 30%;
	padding: 1em 1em 0 0;
}

.sidebar-block {
	border: 1px dashed var(--red);
	padding: 0.5em;
}
  
.tags-list {
	margin-bottom: 0;
	padding-left: 1em;
	columns: 1;
}

/** Main content **/
.main-content {
    width: 70%;
}

@media(max-width: 60em) {
    .sidebar,
    .main-content {
        width: 100%;
    }

	.tags-list {
		columns: 2;
	}
}

@media(max-width: 30em) {
	.tags-list {
		columns: 1;
	}
}

main :first-child {
	margin-top: 0;
}

main a {
    color: var(--text-color-link);
}

main a:is(:hover,:focus) {
    background-color: var(--text-color-link-hover);
    color: var(--white);
}
main a[href]:active {
	color: var(--text-color-link-active);
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}