.left-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 20em;
    height: 100%;
    background-color: var(--blue);
}

.left-nav ul {
    padding-left: 0;
    list-style-type: none;
}

.left-nav .nav-links li {
    color: var(--white);
    text-decoration: none;
    vertical-align: middle;
}

.left-nav .nav-links li:is(:hover, :focus) {
    background-color: var(--white);
    color: var(--blue);
}

.left-nav .social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 0;
}

.left-nav .social-links a:is(:hover, :focus) {
    background-color: var(--white);
    color: var(--red);
}

.left-nav .social-links svg {
    fill: white;
}