/** Styles for individual posts **/

/* Post metadata */
.post-metadata {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	gap: .5em 3em;
    border-bottom: 1px dashed var(--red);
	padding: 0 0 0.5em 0;
	margin: 0;
}
.post-metadata p {
    margin: 0;
}
.post-tag {
	text-transform: capitalize;
}

/** Post description block **/
.post-description {
    margin: 1em 3em;
    background-color: var(--grey);
    border: 1px solid var(--black);
}

/** Main section but only on posts **/
table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/** Post footer **/
.links-nextprev {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em 3em;
    border-top: 1px dashed var(--red);
	padding: 1em 0 0;
}

.links-nextprev p {
    margin: 0;
}