/** Styles only needed for the views summarizing multiple posts */

.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
	padding: 1em 0;
}
.postlist-item:after {
	border-bottom: 1px solid var(--blue);
}

.postlist-date {
	font-size: 0.8em;
}
