/** Styles for individual posts **/

/* Post metadata */
.post-metadata {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	gap: .5em 3em;
    border-bottom: 1px dashed var(--red);
	padding: 0;
	margin: 0;
}
.post-metadata p {
    margin: 0 0 0.25em;
}
.post-metadata time {
	margin-right: 1em;
}
.post-tag {
	text-transform: capitalize;
}
.postlist-item > .post-tag {
	align-self: center;
}

.links-nextprev {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px dashed var(--red);
	padding: 1em 0;
}

.links-nextprev p {
    margin: 0;
}