/** Styles only needed for the views summarizing multiple posts */

.postlist {
	list-style: none;
	padding: 0;
}
.postlist-item {
	display: block;
	margin: 1em 0;
	border-bottom: 1px dashed var(--red);
	padding: 0 0 1em 0;
}

.postlist-item-title {
	margin-bottom: 0;
	padding-bottom: 0.25em;
}

.postlist-metadata {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	gap: .5em 3em;
	padding: 0;
	margin: 0.5em 0;
}
.postlist-metadata p {
	margin: 0;
	line-height: 1em;
	font-size: 0.8em;
}
.postlist-tag {
	text-transform: capitalize;
}

.postlist-item :last-child {
	margin-bottom: 0;
}
