/** Styles only needed for the views summarizing multiple posts */

.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: block;
	margin: 0 1em;
	padding: 0 0 1em 0;
}
.postlist-item:after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 70%;
	border-bottom: 1px solid var(--red);
	padding-bottom: 0.5em;
}

.postlist-item-title {
	margin-bottom: 0;
	padding-bottom: 0.25em;
}

.postlist-item-time-container {
	margin: 0.5em 0;
	line-height: 1em;
}

.postlist-item-time {
	font-size: 0.8em;
}

.postlist-item-description {
	margin-bottom: 0;
}
