/** Aligns with the tagslist.njk include **/
.tags-list {
	margin-bottom: 0;
	padding-left: 1em;
	columns: 1;
}

/** Needs to line up with the breakpoint in base.css for when the sidebar moves to the bottom **/
@media(max-width: 60em) {
	.tags-list {
		columns: 2;
	}
}

@media(max-width: 30em) {
	.tags-list {
		columns: 1;
	}
}