---
layout: layouts/main.njk
title: About
tags: "sidebar"
show_sidebar: false
---
<div class="sidebar-container">
	<p>I'm Ryan Robinson. I have an M.Div. and am active in <a href="https://rockwaymc.ca">a Mennonite church</a>. This site is my personal notepad to place things I've prepared anyway for that church, as well as some other ramblings about God, the church, and the world.</p>
	<p>If you're interested in more from me, see <a href="https://ryanrobinson.ca">ryanrobinson.ca</a>.</p>
</div>
