---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
eleventyImport:
  collections: ["posts"]
---
<h1>Latest Posts</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}