---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
pagination:
  data: collections.posts
  size: 2
---
<h1>Latest Posts</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}