---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
eleventyImport:
  collections: ["post"]
---
<h1>Latest Posts</h1>

{% set postslist = collections.post %}
{% include "postslist.njk" %}