---
layout: layouts/main.njk
title: Podcasts
tags: "sidebar"
show_sidebar: false
---
<aside class="sidebar-block" aria-label="Favourite Podcasts">
    <p>Some of my favourite theology podcasts include:</p>
    <ul>
        <li><a href="https://www.reclaimingmytheology.org/">Reclaiming My Theology</a></li>
        <li><a href="https://www.homebrewedchristianty.com/podcasts/">Homebrewed Christianity</a></li>
        <li><a href="https://thebiblefornormalpeople.com/">The Bible for Normal People</a></li>
        <li><a href="https://www.patreon.com/InVerse">Inverse</a></li>
    </ul>
</aside>
