---
layout: layouts/sidebar.njk
pagination:
  data: collections.posts
  size: 10
  reverse: true
eleventyComputed:
  title: Posts Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---

{% set postslist = pagination.items %}
{% include "postslist.njk" %}