---
pagination:
  data: collections
  size: 10
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
  reverse: true
eleventyComputed:
  title: Posts Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---

{% set postslist = pagination.items[ tag ] %}
{% include "postslist.njk" %}