---
eleventyImport:
  collections: ["posts"]
pagination:
  data: collections.posts
  size: 10
  reverse: true
layout: layouts/sidebar.njk
eleventyComputed:
  title: Posts Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---

{% set postslist = pagination.items %}
{% include "postslist.njk" %}