---
pagination:
  data: collections.tagPages
  size: 1
  alias: tagPage
permalink: /tags/{{ tagPage.key | slugify }}/{% if tagPage.pageNumber > 0 %}{{ tagPage.pageNumber + 1 }}/{% endif %}
eleventyComputed:
  title: 'Tagged "{{ tagPage.key }}"'
---
{% if tagDescriptions[tagPage.key | slugify] %}
  <p class="tag-description">{{ tagDescriptions[tagPage.key | slugify] }}</p>
{% endif %}

{% set postList = tagPage.posts %}
{% set pagination = tagPage %}
{% include "post-list-pager.njk" %}
