---
pagination:
    data: collections.tagPages
    size: 1
    alias: tagPage
permalink: /tags/{{ tagPage.tagName | slugify }}/{% if tagPage.pageNumber > 0 %}{{ tagPage.pageNumber + 1 }}/{% endif %}
eleventyComputed:
    title: Tagged "{{ tagPage.tagName }}"
---
{% set postslist = tagPage.posts %}
{% set show_pagination = true %}
{% set pagination = tagPage.pagination %}
{% include "postslist.njk" %}
