---
permalink: /tags/
layout: layouts/home.njk
---
<h1>Tags</h1>

<ul class="tags-list">
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a> ({{ collections[tag].length }})</li>
{% endfor %}
</ul>