---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Posts Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
pagination:
  data: collections[ tag ]
  size: 10
  reverse: true
---

<h1>Posts Tagged “{{ tag }}”</h1>

{% set postslist = pagination.items %}
{% include "postslist.njk" %}