<aside class="sidebar-block" aria-label="Favourite Podcasts">
	<h2>Favourite Podcasts</h2>
    <p>Some of my favourite theology podcasts include:</p>
    <ul>
        <li>Reclaiming My Theology</li>
        <li>Homebrewed Christianity</li>
        <li>The Bible for Normal People</li>
        <li>Inverse</li>
    </ul>
</aside>