{% set currentSeries = post.data.series %}
{# TODO: this doesn't work. Not clear it can even read what the series is on the current page. #}
{% if currentSeries %}
	<aside class="sidebar-block" aria-label="Posts in this series">
		<h2>Posts in {{ currentSeries }} Series</h2>
		<ol class="series-list">
			{% for post in collections.posts | postsWithMetadata("series", currentSeries) %}
    			<li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
			{% endfor %}
		</ol>
	</aside>
{% endif %}