{%- css %}{% include "public/css/tagslist.css" %}{% endcss %}
<aside class="sidebar-block" aria-label="Tags for posts">
	<h2>Posts by Tag</h2>
	<ul class="tags-list">
	{% for tag in collections | getKeys | filterTagList %}
		{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a> ({{ collections[tag].length }})</li>
	{% endfor %}
	</ul>
</aside>