---
layout: layouts/sidebar.njk
eleventyImport:
  collections: ["posts"]
pagination:
  data: collections
  size: 10
  reverse: true
---
{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}