---
layout: layouts/home.njk
title: Page not found
subtitle: We’re sorry, that page doesn’t seem to exist.
colorScheme: yellow-pink
eleventyNavigation:
  key: Page not found
tags:
  - 404
templateClass: template-simple
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="l-simple c-hero c-simple--404">
	{% include 'heroes/svg/404.njk' %}
	<div class="c-simple__hero">
		<h1 id="page-not-found" class="c-heading-large">
			{{ title }}
		</h1>
		<p>
			We’re sorry, that page doesn’t seem to exist.
		</p>
	</div>
</div>
