---
layout: layouts/sidebar.njk
eleventyImport:
  collections: ["posts"]
pagination:
  data: collections.posts
  size: 10
  reverse: true
---
<h1>{{ title }}</h1>

{% set postslist = pagination.items %}
{% include "postslist.njk" %}

{{ content | safe }}