---
layout: layouts/base.njk
---
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/post.css" %}{% endcss %}
<h1>{{ title }}</h1>

<div class="post-metadata">
	<p><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate("LLLL d, yyyy") }}</time></p>
	{% if tags | filterTagList | length %}
		<p>Tags: 
		{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
		{%- endfor %}
		</p>
	{% endif %}
</div>

{# This doesn't work yet. Trying to add the description here. #}
{% if page.excerpt %}
	<p class="post-description">
		{{ page.excerpt }}
	</p>
{% endif %}

{{ content | safe }}

{% set currentSeries = data.series %}
    <h3>Related Posts in {{ currentSeries }} Series</h3>
    <ul>
        {% for post in collections.posts | postsWithMetadata("series", currentSeries)%}
            <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
        {% endfor %}
    </ul>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<div class="links-nextprev">
	{%- if previousPost %}<p>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></p>{% endif %}
	{%- if nextPost %}<p>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></p>{% endif %}
</div>
{%- endif %}
{%- endif %}