<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="fediverse:creator" content="@Ryan@mstdn.ca" />
  		<link rel="icon" type="image/x-icon" href="/img/favicon.ico">

		{#- Atom and JSON feeds #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Add the contents of each css file to the bundle #}
		{%- css %}{% include "public/css/base.css" %}{% endcss %}
		{%- css %}{% include "public/css/header.css" %}{% endcss %}
		{%- css %}{% include "public/css/pagefind.css" %}{% endcss %}
		{%- css %}{% include "public/css/main.css" %}{% endcss %}
   		{%- css %}{% include "public/css/main-sidebar.css" %}{% endcss %}
		{%- css %}{% include "public/css/footer.css" %}{% endcss %}
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>
		<header>
			<div class="container header-container">
				<p>Ryan Robinson Technology</p>
				<div id="search" class="search">
					<script src="/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false, pageSize: 10 });"></script>
				</div>
				<nav class="top-nav" aria-describedby="top-nav">
					<h2 class="visually-hidden" id="top-nav">Top level navigation menu</h2>
					<ul class="top-nav-list">
					{%- for entry in collections.all | eleventyNavigation %}
						<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
					{%- endfor %}
					</ul>
				</nav>
			</div>
		</header>

		<div class="main-wrapper">
			<main id="skip" class="main-sidebar">
				<div class="main-content">
					{{ content | safe }}
				</div>
				<div class="sidebar">
					{% include "serieslist.njk" %}
					{% include "tagslist.njk" %}
				</div>
			</main>
		</div>

		<footer>
			<div class="container">
				{% include "sociallinks.njk" %}
				<p>&copy; 2024 Ryan Robinson. Powered by <a href="https://www.11ty.dev/">Eleventy</a> on <a href="https://pages.github.com/">GitHub Pages</a>. The site's font is <a href="https://brailleinstitute.org/freefont">Atkinson Hyperlegible from the Braille Institute</a>.</p>
			</div>
		</footer>

		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
	</body>
</html>